
<form {{action "authenticate" on="submit"}}>
  {{input value=identification placeholder="Email" type='email' }}
  {{input value=password placeholder="Password" type='password' }}
  <button type="submit">GO</button>
</form>

{{outlet}}
