<div class="container">

<header>
  {{#link-to 'index'}}<h2 id="title">Safemeet</h2>{{/link-to}}
</header>

{{outlet}}

<footer>
  {{#if session.isAuthenticated}}
    <a {{action "invalidateSession"}} href="javascript:void(0)">Logout</a>
  {{else}}
    {{link-to "Login" 'user.login'}}
  {{/if}}
  Made 2015 by Alex
</footer>

</div>
