{{outlet "menu"}}

{{outlet "map"}}

{{outlet "locations"}}

<div class="splash-frame">
  <div class="splash">
    <h1>Safemeet</h1>
    <span class="subtitle">peace of mind</span>
  </div>

  <div class="loading">
    <div class="dot firstdot"></div>
    <div class="dot seconddot"></div>
    <div class="dot thirddot"></div>
    <br>
    <span class="loading-text">Getting your location now...</span>
  </div>
</div>

{{outlet}}
